*/bin
*/obj
__pycache__/
*.pyc
**/__pycache__
**/*.pyc
**/*.pyc.prc
lib/__pycache__
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.vscode/